In [193]:
import pandas as pd
import numpy as np

1. Determine the number of elements in fruits.

2. Output only the index from fruits.

3. Output only the values from fruits.

4. Confirm the data type of the values in fruits.

In [118]:
fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [119]:
fruit_series = pd.Series(fruit_list)
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
len(fruit_series)

In [ ]:
fruit_series.index

In [ ]:
fruit_series.values

In [ ]:
fruit_series.dtype

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

In [ ]:
fruit_series.head()

In [ ]:
fruit_series.tail(3)

In [ ]:
fruit_series.sample(2)

In [ ]:
fruit_series.describe()

In [ ]:
pd.unique(fruit_series)

In [192]:
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [ ]:
fruit_series.mode()

In [ ]:
fruit_series.value_counts().nsmallest(n = 1, keep = 'all')

1. Capitalize all the string values in fruits.

2. Count the letter "a" in all the string values (use string vectorization).

3. Output the number of vowels in each and every string value.

4. Write the code to get the longest string value from fruits.

5. Write the code to get the string values with 5 or more letters in the name.

6. Find the fruit(s) containing the letter "o" two or more times.

7. Write the code to get only the string values containing the substring "berry".

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?

In [170]:
fruit_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [107]:
fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [145]:
def vowel_counter(n):
    '''
    this function counts vowels
    '''
    count = 0
    vowels = 'aeiouAEIOU'
    for i in n:
        if i in vowels:
            count += 1
    return count      
fruit_series.apply(vowel_counter)

#ALSO
#fruit_series.str.count(r'[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [175]:
fruit_series[fruit_series.str.len() == fruit_series.str.len().max()]

5    honeycrisp apple
dtype: object

Write the code to get the string values with 5 or more letters in the name.

In [180]:
fruit_series[fruit_series.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Find the fruit(s) containing the letter "o" two or more times.

In [186]:
fruit_series[fruit_series.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

In [187]:
fruit_series[fruit_series.str.count('berry') >= 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [189]:
fruit_series[fruit_series.str.count('apple') >= 1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

Which string value contains the most vowels?

In [196]:
fruit_series[fruit_series.str.count(r'[aeiou]').max()]

'honeycrisp apple'